.contato-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

h1, form {
    color: #370F24;
}

h1 {
    text-align: center;
}

form {
    width: 400px;
}

label, input{
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #370F24;
}

label {
    text-align: end;
    display: inline-block;
    width: 115px;
}

input {
    width: 280px;
}

textarea {
    display: block;
    margin: 10px auto;
    resize: none;
    padding: 8px;
}


button {
    width: 300px;
    height: 50px;
    margin: 0 70px;
    background-color: #F8DDEB;
    border: 2px solid #370F24;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    transition: all 1s;
    background-color: #FFA0D1;
    color: #10050B;
    cursor: pointer;
}